html {
	font-family: "Helvetica", Sans-Serif;
	background-color:#fffefe;
}
body {
	margin:2.2em auto;
	margin-top:0em;
	max-width:52em;
	line-height:1.6;
	font-size:18px;
	color:#406240;
	padding:1em;
	padding-top:0em;
	padding-bottom:1em;
	background-color:#FFE9E1;
}
a {
	text-decoration: underline;
	color:#393939;
}
header {
	padding-top: 1em;
}
h1, h2, h3, h4, h5 {
	margin-top: 0;
	line-height:1.2;
	text-align: center;
	color:#203120;
}
article {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: flex-start;
	align-content: flex-start;
	margin-bottom: 2em;
}
section {
	background-color:#CBE86B;
	border-color:#CBE86B;
	width:15em;
	margin:0.1em;
	padding:1em;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	min-height: 10em;
}
header article {
	justify-content: center;
}
header section {
	min-height: 0em;
	padding-bottom: 0.1em;
	padding-top:0.2em;
	width:8em;
	height: 1.3em;
}
a, a:visited, a:link, a:active section {
	text-decoration:none;
}
a section:hover {
	background-color: #DBF87B;
}
center {
	margin: 1.1em;
}
