html {
	font-family: "Helvetica", Sans-Serif;
	padding: 0;
	background-color: #004D40;
}
body {
	margin: 0;
	line-height:1.6;
	font-size:22px;
	color:#FFFFFF;
	padding-top:0em;
}
a {
	text-decoration: underline;
	color:#FFFFFF;
}
h1, h2, h3, h4, h5 {
	line-height:1.2;
	text-align: center;
	color: #FFFFFF;
	position : relative;
	width: 100%;
	margin: 0;
	box-shadow: 0px 0.5px 2.5px rgba(0, 0, 0, 0.5); 
	background-color: #4DB6AC;
	padding : 0.5em;
	z-index : 5;
}
h1 {
	background-color: #00796B;
	padding: 0.5em;
	z-index : 6;
}
h3 {
	background-color: #009688;
}
nav  {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: flex-start;
	align-content: flex-start;
	width: 100%;
	margin-bottom: 2em;
	justify-content: center;
}
article section {
	margin: 0;
}
nav section:hover {
	background-color: #FFC400;
	box-shadow: 0.3px 0.3px 5px #000; 
}
nav section {
	background-color: #6200EA;
	border-color: #6200EA;
	min-height: 0em;
	margin: 1em;
	padding-bottom: 0.2em;
	padding-top:0.1em;
	width:8em;
	height: 1.3em;
	justify-content: center;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
}
button {
	cursor: pointer;
	background-color: #F50057;
	color: #fff;
	border:none;
	font-size: 24px;
	margin: 1em;
	padding: 0.5em;
	box-shadow: 0.5px 0.5px 2.5px rgba(0, 0, 0, 0.5); 
}
button:hover {
	background-color: #FF4081;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); 
}
button:active {
	background-color: #C51162;
	box-shadow: 1.5px 1.5px 10px rgba(0, 0, 0, 0.5); 
}

img {
	display: block;
	margin: 1em auto;
	max-width: 100%;
}
a {
	text-decoration:none;
	color:#FFFFFF;
}
section a {
	text-decoration: underline;
}
