html {
	font-family: "Helvetica", Sans-Serif;
	background-color:#fffefe;
}
body {
	margin:2.2em auto;
	margin-top:0em;
	max-width:52em;
	line-height:1.6;
	font-size:18px;
	color:#406240;
	padding:1em;
	padding-top:0em;
	padding-bottom:1em;
	background-color:#CBE86B;
}
a {
	text-decoration: underline;
	color:#393939;
}
header {
	padding-top: 1em;
}
h1, h2, h3, h4, h5 {
	margin-top: 0;
	line-height:1.2;
	color:#203120;
}
nav, article {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: flex-start;
	align-content: flex-start;
	width: 100%;
	margin-bottom: 2em;
}
section {
	background-color:#FBF87B;
	width:15em;
	margin:0.1em;
	padding:1em;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: #CBE86B;
}
nav section {
	width: auto;
}
img {
	display: block;
	margin: 1em auto;
	max-width: 100%;
}
.media-icon {
	width: 32px;
	height: 32px;
	margin: 0;
}
#home {
	cursor: pointer;
}
