html {
	font-family: "Helvetica", Sans-Serif;
	background-color:#EDE7F6;
	padding: 0;
}
body {
	margin: 0;
	line-height:1.6;
	font-size:18px;
	color:#FFFFFF;
	padding-top:0em;
}
a {
	text-decoration: underline;
	color:#FFFFFF;
}
h1, h2, h3, h4, h5 {
	line-height:1.2;
	text-align: center;
	color: #FFFFFF;
	position : relative;
	width: 100%;
	margin: 0;
	box-shadow: 0px 0.5px 2.5px rgba(0, 0, 0, 0.5); 
}
h1 {
	background-color: #673AB7;
	padding: 0.5em;
	z-index : 6;
}
h3 {
	background-color: #9575CD;
	padding : 0.5em;
	z-index : 5;
	font-size: 150%;
}
h4 {
	background-color: #9575CD;
	padding : 0.5em;
	z-index : 5;
}
h5 {
	box-shadow: none;
}
nav, article {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: flex-start;
	align-content: flex-start;
	width: 100%;
	margin-bottom: 2em;
	justify-content: center;

}
section {
	background-color:#673AB7;
	width:15em;
	margin:0.1em;
	padding:1em;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: #673AB7;
}
a section:hover {
	background-color: #B39DDB;
	box-shadow: 0.3px 0.3px 5px #000; 
}
nav section {
	width: auto;
}
img {
	display: block;
	margin: 1em auto;
	max-width: 100%;
}
.media-icon {
	width: 32px;
	height: 32px;
	margin: 0;
}
#home {
	cursor: pointer;
}
a {
	text-decoration:none;
	color:#FFFFFF;
}
section a {
	text-decoration: underline;
}
