/* Remove the default borders */
html {
	padding: 0;
}
body {
	padding: 0;
	margin: 0;
	font-family: 'Comfortaa', 'sans-serif';
	font-size: 18px;
}
/* Top bar */
#top-bar {
	width: 100%;
	padding: 2px 0px 2px 0px;
	background-color: #5E35B1;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	color: #eee;
    box-shadow:0px 1px 3px #888888;
}
h1 {
	margin-left: 10%;
	font-size: 36px;
}
h2 {
	margin-right: 10%;
	font-size: 28px;
}
/* Main content */
h3 {
	font-size: 24px;
	text-align: center;
	color: #4A148C;
}
h4 {
	color: #4A148C;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 0.2em;
}
/* Main area */
#content {
    max-width: 700px;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 15px;
}
#summary p {
    line-height: 1.5;
}
code {
    display: block;
    white-space: pre-wrap;
    background-color: #eee;
    margin: 5px;
}
img {
    display: block;
    width: 350px;
    margin: 0 auto;
}
a {
  color: inherit; 
  text-decoration: inherit;
}
