html {
	font-family: "Helvetica", Sans-Serif;
	background-color:#fffefe;
}
body {
	margin:2.2em auto;
	margin-top:0em;
	max-width:52em;
	line-height:1.6;
	font-size:18px;
	color:#406240;
	padding:1em;
	padding-top:0em;
	padding-bottom:1em;
	background-color:#FFE9E1;
}
a {
	text-decoration: underline;
	color:#393939;
}
header {
	padding-top: 1em;
}
h1, h2, h3, h4, h5 {
	margin-top: 0;
	line-height:1.2;
	text-align: center;
	color:#203120;
}
article {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: flex-start;
	align-content: flex-start;
	width: 100%;
	margin-bottom: 2em;
}
section {
	background-color:#CBE86B;
	width:15em;
	margin:0.1em;
	padding:1em;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: #CBE86B;
	cursor: pointer;
}
section:hover {
	background-color: #DBF87B;
}
aside {
	background-color:#FBF87B;
	position: fixed;
	max-width: 52em;
	min-height: 80%;
	top: 0;
	left: 0;
	right: 0;
	margin: 2.2em auto;
	padding: 1em;
	color:#201020;
	overflow: auto;
	visibility: hidden;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	border-color: #aaa;
	cursor: pointer;
}
